@model List<ToyMVC.Models.Toy>

<h2>Deals of the Day</h2>
<ul>
    @foreach (var toy in Model)
    {
        <li>
            <strong>@toy.Name</strong> - <strike>$@toy.Price</strike> <b>$@toy.DiscountedPrice</b> <br />
            ⭐ @toy.Rating stars - @toy.ReviewsCount reviews <br />
            <a href="@toy.AffiliateLink" target="_blank">Buy Now</a>
        </li>
    }
</ul>
